<h3><%= current_user.try(:name)%> add your song!</h3>
<form method="post" action="/tracks">
  <div>
    <label>Song Title: </label>
     <input type="text" name="title" placeholder = "What's the title...?">
  </div>
  <div>
    <label>Link: </label>
     <input type="text" name="url" placeholder="link your song here">
  </div>
  <div>
    <label>Artist: </label>
    <input type="text" name="author" placeholder = "Artist here">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
