<form method="post" action="/accounts">
  <div>
    <label>Name: </label>
     <input type="text" name="name" placeholder = "What's your name?">
  </div>
  <div>
    <label>Email: </label>
     <input type="email" name="email" placeholder="email">
  </div>
  <div>
    <label>Password: </label>
    <input type="password" name="password" placeholder = "top secret">
  </div>
  <div>
    <label>Confirm password: </label>
    <input type="password" name="confirmation" placeholder = "encore">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>